<launch>
    <arg name="input_topic_left" default="/camera/fisheye1/image_raw" />
    <arg name="input_topic_right" default="/camera/fisheye2/image_raw" />

    <arg name="output_frame_id" default="t265_depth" />
    <arg name="process_every_nth_frame" default="1" />
    
    <arg name="param_file_path" default="$(find t265_depth)/cfg/full_res.yaml" />
    <arg name="scale" default="1.0" /> # 1, 0.5 or 0.33


    <node name="t265_depth" type="t265_depth" pkg="t265_depth" output="screen">
        <param name="input_topic_left" value="$(arg input_topic_left)" />
        <param name="input_topic_right" value="$(arg input_topic_right)" />
        <param name="output_frame_id" value="$(arg output_frame_id)" />
        <param name="param_file_path" value="$(arg param_file_path)" />
        <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)" />
        <param name="scale" value="$(arg scale)" />
        
        <param name="enable_dyn_reconf" value="false" />
        # bm parameters
        <param name="sad_window_size" value="3" />     # disparity block matching pre-filtering parameters
        <param name="pre_filter_type" value="normalized_response" /> # xsobel or normalized_response
        <param name="pre_filter_cap" value="1" />      # "Bound on normalized pixel values", 31, 1, 63)
        <param name="pre_filter_size" value="5" />     # "Normalization window size, pixels", 9, 5, 255)
        
        # semiglobal disparity block matching correlation parameters
        <param name="use_sgbm" value="true" />         # Use SemiGlobalBlockMatching
        <param name="sgbm_mode" value="2" />           # Mode type (0-SGBM,1-HH,2-3WAY)
        <param name="p1" value="240" /> # 8*3*5*2
        <param name="p2" value="960" /> # 8*3*5*2
        <param name="disp_12_max_diff" value="-1" />    # M aximum allowed difference (in integer pixel units) in the left-right disparity check. Set it to a non-positive value to disable the check.
        
        # disparity block matching correlation parameters
        <param name="correlation_window_size" value="16" />   # "SAD correlation window width, pixels", 15, 5, 255)
        <param name="min_disparity" value="0" />              # "Disparity to begin search at, pixels (may be negative)", 0, -2048, 2048)
        <param name="num_disparities" value="64" />           # "Number of disparities to search, pixels", 64, 32, 4096)
    
        # disparity block matching post-filtering parameters
        <param name="uniqueness_ratio" value="10" />    # "Filter out if best match does not sufficiently exceed the next-best match", 15, 0, 100)
        <param name="texture_threshold" value="10" />   # "Filter out if SAD window response does not exceed texture threshold", 10, 0, 10000)
        <param name="speckle_range" value="32" />        # "Max allowed difference between detected disparities", 4, 0, 31)
        <param name="speckle_window_size" value="1" />  # "Reject regions smaller than this size, pixels", 100, 0, 1000)
        
        <param name="do_median_blur" value="true" />    # blur the disparity image
    </node>

</launch>